@model ProductVM

<section class="py-5 bg-body-tertiary">
    <div class="container px-4 pc-lg-5 my-5">
        <div class="row g-4 g-lg-5 align-items-center">

            <!-- Imagen izquierda -->
            <div class="col-md-6">
                <img class="card-img-top rounded mb-5"
                     src="~/images/@Model.ImageName"
                     alt="@Model.Name"
                     loading="lazy" />
            </div>

            <!-- Información derecha -->
            <div class="col-md-6">
                <!-- Name -->
                <h1 class="display-5 fw-bold mb-1">@Model.Name</h1>

                <!-- Price -->
                <div class="fs-5 mb-1 text-primary">
                    @Model.Price.ToString("N0")
                </div>

                <!-- Description -->
                <div class="text-muted mb-0">
                    @Html.Raw(Model.Description)
                </div>

                <!-- Stock -->
                <div class="text-muted">
                    Stock: @Model.Stock
                </div>

                <!-- Fecha de creación -->
                <div class="text-muted">
                    CreatedAt: @Model.CreatedAt.ToString("yyyy-MM-dd")
                </div>
            </div>

        </div>
    </div>
</section>
